@import 'Styles';

.card-column-component {
  box-sizing: border-box;
  padding: 0px;
  min-height: 100%;

  .card-column-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}