@import 'Styles';

.home-component {
    .hero-banner {
        background-image: url(./home-hero2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 550px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .promo-container {
            position: absolute;
            color: #fff;
            padding-right: 100px;

            h1 {
                font-size: 40px;
            }

            button {
                background: $green;
                border: none;
                padding: 12px 24px;
                font-size: 18px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}